html {
  font-size: 20px;
}


body {
  font-family:"Arial", "Meiryo", sans-serif;
  text-align: center;
}

#google-fonts {
  /* ここにGoogle Fontsを指定します */
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
}

