#top {
  width: 800px;
  background-color: #dcc9f4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.top-child {
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
  text-align: center;
}